$primaryColorLight: #f075750d;
$primaryColor: #f07575;
$primaryColorDark: #e42346;
$colorExtra:#EB3349;
$secondaryColor: #f6f3f3;

$secondaryColorDark: #464670;

$secondaryColorDark3: #4646704d;

$secondaryColorDarkOp: #1c1b29d4;
$light: #ffffff;
$dark: #222;
$footerLight: #ececec5c;
